

<h1>Iniciar Sesión</h1>


<form action="" class="example-form" method="post"  >

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Correo:</mat-label>
        <input type="text" matInput placeholder="nombre@correo.com" required>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Contraseña:</mat-label>
        <input type="password" matInput  placeholder="****" required>
      </mat-form-field>



<button type="submit" mat-raised-button mat-button color="primary">Enviar</button>

</form>
