
<mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>

  <mat-slide-toggle>Slide me!</mat-slide-toggle>


  <table>
      <tr>
          <td>#</td>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>Correo</td>
          <td>Acciones</td>
         
      </tr>
      <tr *ngFor="let usuario of Usuarios; let indice=index">
          <td>{{usuario.id}}</td>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.apellido}}</td>
          <td>{{usuario.email}}</td>
          <td>
            <a routerLink="/usuario/{{usuario.id}}">Mostrar</a>
            <a routerLink="/usuario/editar/{{usuario.id}}" >Editar</a>
            <a (click)="eliminar(usuario.id,indice)">Eliminar</a>
          </td>
          
      </tr>
  </table>

  
  
  
  
  



